---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <Navbar />
  <div
    class="flex flex-col items-center justify-center min-h-screen bg-slate-50 text-[#222] font-sans"
  >
    <img src="/logo.svg" alt="Virosa Logo" width="200" class="mb-4" />
    <h1 class="text-4xl md:text-5xl font-bold">Virosa</h1>
  </div>
  <Footer />
</Layout>
