---
const year = new Date().getFullYear();
---

<footer
  class="absolute bottom-0 w-full p-2 flex flex-col justify-center items-center z-10"
>
  <p>
    © {year}
    <a href="https://www.aspecs.ch">Aspecs</a>. All rights reserved.
  </p>
  <a href="https://www.aspecs.ch/imprint">Imprint</a>
</footer>
