---
import "../styles/global.css";
const { title } = Astro.props;
---
<script>
  import "nano-analytics";
  import "nano-insights";
  import { track } from "nano-custom";
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <nano-analytics
  projectKey="mftphwtviiumf"
  userId="3bfba4fe-5675-46dd-bfde-f22f014f8702"
/>
<nano-insights
  projectKey="mftphwtviiumf"
  userId="3bfba4fe-5675-46dd-bfde-f22f014f8702"
/>
<nano-custom
  projectKey="mftphwtviiumf"
  userId="3bfba4fe-5675-46dd-bfde-f22f014f8702"
/>
  <body>
    <slot />
  </body>
</html>
